DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=helpdesk
JWT_SECRET=troque_este_segredo
API_VERSION=1.0.0
PORT=3000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:3000
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
