body {
  margin: 0;
  font-family: 'Segoe UI';
  background: radial-gradient(circle at center, #4f46e5, #020617);
  color: white;
}

.hero {
  text-align: center;
  margin: 40px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  width: 250px;
}

.events-section {
  text-align: center;
  margin-top: 30px;
}

.event-card {
  background: rgba(255,255,255,0.08);
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

button {
  cursor: pointer;
}